#pretty-article-frame {
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-y: scroll;

  z-index: 1000000091;
  width: 100%;
  height: 100%;
  display: block;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

/****** styles for pretty page********/

body {
  background: #e9e9e9 !important;
  margin: 0;
}

.container {
  cursor: zoom-out !important;
  padding-top: 40px;
  padding-bottom: 40px;
}

.article {
  cursor: default !important;
  width: 68%;
  margin: auto;

  background: #f8f8f8 !important;
  border: 1px solid !important;
  border-color: #dbdbdb !important;

  padding: 90px;
}

#title {
  font-size: 44px !important;
  line-height: 46px !important;
  color: #333333 !important;
  letter-spacing: -0.5px !important;
}
#byline {
  font-size: 14px !important;
  color: #696969 !important;
  letter-spacing: -0.2px !important;
}
#article-body {
    font-size: 21px !important;
    color: #333333;
}

.article img {
  max-width: 100%;
}
